YANDEX_CLIENT_ID=<YOUR-CLIENT-ID>
YANDEX_CLIENT_SECRET=<YOUR-CLIENT-SECRET>

YANDEX_OIDC_ISSUER=<YOUR-OIDC-ISSUER-ID>
YANDEX_OIDC_AUTH_URL=https://example.com/oauth/authorize
YANDEX_OIDC_TOKEN_URL=https://example.com/oauth/token
YANDEX_OIDC_USERINFO_URL=https://example.com/oauth/userinfo
YANDEX_OIDC_JWKS_URL=https://example.com/oauth/jwks/keys
